/* You can add global styles to this file, and also import other style files */

body {
    background: rgb(187, 181, 224);
}

.color-light {
    background:rgb(181, 224, 188);
}

.color-dark {
    background:rgb(47, 134, 61);
}